:root {
  --background-rgb: #262626;
  --title-button-highlight-rgb: #404040;
  --highlight-rgb: #1d3a5a;
  --selected-rgb: #0570eb;
  --title-button-close-highlight-rgb: #f4522a;
}

.bg-color {
  background-color: var(--background-rgb) !important;
}

.bg-color-hoverable {
  background-color: var(--background-rgb) !important;
}

.bg-color-hoverable:hover {
  background-color: var(--highlight-rgb) !important;
}

.title-button {
  background-color: var(--background-rgb) !important;
}

.title-button:hover {
  background-color: var(--title-button-highlight-rgb) !important;
}

.title-button-close {
  background-color: var(--background-rgb) !important;
}

.title-button-close:hover {
  background-color: var(--title-button-close-highlight-rgb) !important;
}

.bg-color-selected {
  background-color: var(--selected-rgb) !important;
}

.bg-color-selected:hover {
  background-color: var(--selected-rgb) !important;
}

body {
  background-color: var(--background-rgb) !important;
}

.purple {
  color: #bbadff !important;
}

.url-blue {
  color: #85beff !important;
}

/* Disables the default eye icon in password fields on MS Edge Chromium */
::-ms-reveal {
  display: none;
}