:root {
  --background-rgb: #262626;
  --highlight-rgb: #1d3a5a;
  --selected-rgb: #0570eb;
}

.bg-color {
  background-color: var(--background-rgb);
}

.bg-color-hoverable {
  background-color: var(--background-rgb);
}

.bg-color-hoverable:hover {
  background-color: var(--highlight-rgb);
}

.bg-color-selected {
  background-color: var(--selected-rgb);
}

body {
  background-color: var(--background-rgb);
}

/* Disables the default eye icon in password fields on MS Edge Chromium */
::-ms-reveal {
  display: none;
}