:root {
  --background-rgb: #262626;
  --background-rgb-light: #333333;
  --title-button-highlight-rgb: #404040;
  --highlight-rgb: #1d3a5a;
  --solid-blue-rgb: #0570eb;
  --solid-blue-hover-rgb: #0565d4;
  --title-button-close-highlight-rgb: #f4522a;
}

.bg-color {
  background-color: var(--background-rgb) !important;
}

.bg-color-hoverable {
  background-color: var(--background-rgb) !important;
}

.bg-color-hoverable:hover {
  background-color: var(--highlight-rgb) !important;
}

.solid-hover:hover {
  background-color: var(--solid-blue-rgb) !important;
}

.bg-color-light {
  background-color: var(--background-rgb-light) !important;;
}

.hover:hover {
  background-color: var(--highlight-rgb) !important;
}

.title-button {
  background-color: var(--background-rgb) !important;
}

.title-button:hover {
  background-color: var(--title-button-highlight-rgb) !important;
}

.title-button-close {
  background-color: var(--background-rgb) !important;
}

.title-button-close:hover {
  background-color: var(--title-button-close-highlight-rgb) !important;
}

.bg-color-selected {
  background-color: var(--solid-blue-rgb) !important;
}

.solid-button {
  background-color: var(--solid-blue-rgb) !important;
}

.solid-button:hover {
  background-color: var(--solid-blue-hover-rgb) !important;
}

.bg-color-selected:hover {
  background-color: var(--solid-blue-rgb) !important;
}

.bg-color-selected p {
  color: white !important;
}

body {
  background-color: var(--background-rgb) !important;
}

.purple {
  color: #bbadff !important;
}

.url-blue {
  color: #85beff !important;
}

.Mui-focusVisible {
  outline: none !important;
}

/* Disables the default eye icon in password fields on MS Edge Chromium */
::-ms-reveal {
  display: none;
}